<div class="wrapper ">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side ">
        <section class="sidebar ">
            <div class="page-sidebar  sidebar-nav">
                <div class="nav_icons">
                    <ul class="sidebar_threeicons">
                        <li>
                            <a href="http://demo.joshadmin.com/admin/advanced_tables">
                                <i class="livicon" data-name="table" title="Advanced tables" data-loop="true"
                                   data-color="#418BCA" data-hc="#418BCA" data-s="25"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://demo.joshadmin.com/admin/tasks">
                                <i class="livicon" data-name="list-ul" title="Tasks" data-loop="true"
                                   data-color="#e9573f" data-hc="#e9573f" data-s="25"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://demo.joshadmin.com/admin/gallery">
                                <i class="livicon" data-name="image" title="Gallery" data-loop="true"
                                   data-color="#F89A14" data-hc="#F89A14" data-s="25"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://demo.joshadmin.com/admin/users">
                                <i class="livicon" data-name="user" title="Users" data-loop="true"
                                   data-color="#6CC66C" data-hc="#6CC66C" data-s="25"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <!-- BEGIN SIDEBAR MENU -->
                <ul id="menu" class="page-sidebar-menu">

    <li >
        <a href="http://demo.joshadmin.com/admin">
            <i class="livicon" data-name="dashboard" data-size="18" data-c="#418BCA" data-hc="#418BCA" data-loop="true"></i>
            <span class="title">Dashboard 1</span>
        </a>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/index1">
            <i class="livicon" data-name="dashboard" data-size="18" data-c="#EF6F6C" data-hc="#EF6F6C" data-loop="true"></i>
            Dashboard 2
        </a>
    </li>

     <li >
        <a href="http://crud.joshadmin.com/admin/generator_builder" target="_blank">
            <i class="livicon" data-name="shield" data-size="18" data-c="#F89A14" data-hc="#F89A14" data-loop="true"></i>
            CRUD Generator
        </a>
    </li> 
    <li >

        <a href="http://demo.joshadmin.com/admin/log_viewers">
            <i class="livicon" data-name="help" data-size="18" data-c="#1DA1F2" data-hc="#1DA1F2" data-loop="true"></i>
            Log Viewer
        </a>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/activity_log">
            <i class="livicon" data-name="eye-open" data-size="18" data-c="#F89A14" data-hc="#F89A14" data-loop="true"></i>
            Activity Log
        </a>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="medal" data-size="18" data-c="#6CC66C" data-hc="#6CC66C" data-loop="true"></i>
            <span class="title">Laravel Examples</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/datatables">
                    <i class="fa fa-angle-double-right"></i>
                    Ajax Data Tables
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/editable_datatables">
                    <i class="fa fa-angle-double-right"></i>
                    Editable Data Tables
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/custom_datatables">
                    <i class="fa fa-angle-double-right"></i>
                    Custom Datatables
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/dropzone">
                    <i class="fa fa-angle-double-right"></i>
                    Drop Zone
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/multiple_upload">
                    <i class="fa fa-angle-double-right"></i>
                    Multiple File Upload
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/selectfilter">
                    <i class="fa fa-angle-double-right"></i>
                    Select2 Filters
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="barchart" data-size="18" data-c="#418BCA" data-hc="#418BCA" data-loop="true"></i>
            <span class="title">Laravel Charts</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/laravel_charts">
                    <i class="fa fa-angle-double-right"></i>
                    Simple charts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/database_charts">
                    <i class="fa fa-angle-double-right"></i>
                    Database Charts
                </a>
            </li>
        </ul>
    </li>

    <li >
        <a href="#">
            <i class="livicon" data-name="wrench" data-size="18" data-c="#6CC66C" data-hc="#6CC66C" data-loop="true"></i>
            <span class="title">Builders</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/form_builder">
                    <i class="fa fa-angle-double-right"></i>
                    Form Builder
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/form_builder2">
                    <i class="fa fa-angle-double-right"></i>
                    Form Builder 2
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/buttonbuilder">
                    <i class="fa fa-angle-double-right"></i>
                    Button Builder
                </a>
            </li>
        </ul>
    </li>

    <li >
        <a href="#">
            <i class="livicon" data-name="doc-portrait" data-c="#67C5DF" data-hc="#67C5DF" data-size="18" data-loop="true"></i>
            <span class="title">Forms</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/form_examples">
                    <i class="fa fa-angle-double-right"></i>
                    Form Examples
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/editor">
                    <i class="fa fa-angle-double-right"></i>
                    Form Editors
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/editor2">
                    <i class="fa fa-angle-double-right"></i>
                    Form Editors2
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/validation">
                    <i class="fa fa-angle-double-right"></i>
                    Form Validation
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/formelements">
                    <i class="fa fa-angle-double-right"></i>
                    Form Elements
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/dropdowns">
                    <i class="fa fa-angle-double-right"></i>
                    Drop Downs
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/radio_checkbox">
                    <i class="fa fa-angle-double-right"></i>
                    Radio and Checkbox
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/ratings">
                    <i class="fa fa-angle-double-right"></i>
                    Ratings
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/form_layouts">
                    <i class="fa fa-angle-double-right"></i>
                    Form Layouts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/formwizard">
                    <i class="fa fa-angle-double-right"></i>
                    Form Wizards
                </a>
            </li>
            
            
            
            
            
            

            <li >
                <a href="http://demo.joshadmin.com/admin/datepicker">
                    <i class="fa fa-angle-double-right"></i>
                    Date Pickers
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/advanced_datepickers">
                    <i class="fa fa-angle-double-right"></i>
                    Advanced Date Pickers
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="brush" data-c="#F89A14" data-hc="#F89A14" data-size="18" data-loop="true"></i>
            <span class="title">UI Features</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">

            <li >
                <a href="http://demo.joshadmin.com/admin/buttons">
                    <i class="fa fa-angle-double-right"></i>
                    Buttons
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/tabs_accordions">
                    <i class="fa fa-angle-double-right"></i>
                    Tabs and Accordions
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/cards">
                    <i class="fa fa-angle-double-right"></i>
                    Cards
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/icon">
                    <i class="fa fa-angle-double-right"></i>
                    Icon Fonts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/animatedicons">
                    <i class="fa fa-angle-double-right"></i>
                    Animated Icons
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/color">
                    <i class="fa fa-angle-double-right"></i>
                    Color Picker Slider
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/grid">
                    <i class="fa fa-angle-double-right"></i>
                    Grid Layout
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/carousel">
                    <i class="fa fa-angle-double-right"></i>
                    Carousel
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/tagsinput">
                    <i class="fa fa-angle-double-right"></i>
                    Tags Input
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/nestable_list">
                    <i class="fa fa-angle-double-right"></i>
                    Nestable List
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/sortable_list">
                    <i class="fa fa-angle-double-right"></i>
                    Sortable List
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/treeview_jstree">
                    <i class="fa fa-angle-double-right"></i>
                    Treeview and jsTree
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/toastr">
                    <i class="fa fa-angle-double-right"></i>
                    Toastr Notifications
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/sweetalert">
                    <i class="fa fa-angle-double-right"></i>
                    Sweet Alert
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/notifications">
                    <i class="fa fa-angle-double-right"></i>
                    Notifications
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/session_timeout">
                    <i class="fa fa-angle-double-right"></i>
                    Session Timeout
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/portlet_draggable">
                    <i class="fa fa-angle-double-right"></i>
                    Draggable Portlets
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="lab" data-c="#EF6F6C" data-hc="#EF6F6C" data-size="18" data-loop="true"></i>
            <span class="title">UI Components</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/general">
                    <i class="fa fa-angle-double-right"></i>
                    General Components
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/modals">
                    <i class="fa fa-angle-double-right"></i>
                    Modals
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/pickers">
                    <i class="fa fa-angle-double-right"></i>
                    Pickers
                </a>
            </li>
            <!--<li >-->
            <!--<a href="http://demo.joshadmin.com/admin/x-editable">-->
            <!--<i class="fa fa-angle-double-right"></i>-->
            <!--X-editable-->
            <!--</a>-->
            <!--</li>-->
            <li >
                <a href="http://demo.joshadmin.com/admin/timeline">
                    <i class="fa fa-angle-double-right"></i>
                    Timeline
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/animations">
                    <i class="fa fa-angle-double-right"></i>
                    Animations
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/sliders">
                    <i class="fa fa-angle-double-right"></i>
                    Sliders
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/knob">
                    <i class="fa fa-angle-double-right"></i>
                    Circles Sliders
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="table" data-c="#418BCA" data-hc="#418BCA" data-size="18" data-loop="true"></i>
            <span class="title">DataTables</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/simple_table">
                    <i class="fa fa-angle-double-right"></i>
                    Simple tables
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/advanced_tables">
                    <i class="fa fa-angle-double-right"></i>
                    Advanced Data Tables
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/advanced_tables2">
                    <i class="fa fa-angle-double-right"></i>
                    Advanced Data Tables2
                </a>
            </li>

            <li >
                <a href="http://demo.joshadmin.com/admin/responsive_tables">
                    <i class="fa fa-angle-double-right"></i>
                    Responsive Datatables
                </a>
            </li>
            
            
            
            
            
            
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="barchart" data-size="18" data-c="#6CC66C" data-hc="#6CC66C" data-loop="true"></i>
            <span class="title">Charts</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/charts">
                    <i class="fa fa-angle-double-right"></i>
                    Flot Charts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/piecharts">
                    <i class="fa fa-angle-double-right"></i>
                    Pie Charts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/charts_animation">
                    <i class="fa fa-angle-double-right"></i>
                    Animated Charts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/jscharts">
                    <i class="fa fa-angle-double-right"></i>
                    JS Charts
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/sparklinecharts">
                    <i class="fa fa-angle-double-right"></i>
                    Sparkline Charts
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/calendar">
            <i class="livicon" data-c="#F89A14" data-hc="#F89A14" data-name="calendar" data-size="18" data-loop="true"></i>
            Calendar
            <span class="badge badge-danger event_count">7</span>
        </a>
    </li>
    <li class='menu-dropdown'>
        <a href="#">
            <i class="livicon" data-name="mail" data-size="18" data-c="#67C5DF" data-hc="#67C5DF" data-loop="true"></i>
            <span>Email</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/emails/compose">
                    <i class="fa fa-angle-double-right"></i> Compose
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/emails/inbox">
                    <i class="fa fa-angle-double-right"></i> Inbox
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/emails/sent">
                    <i class="fa fa-angle-double-right"></i> Sent
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/tasks">
            <i class="livicon" data-c="#EF6F6C" data-hc="#EF6F6C" data-name="list-ul" data-size="18" data-loop="true"></i>
            Tasks
            <span class="badge badge-danger" id="taskcount">0</span>
        </a>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="image" data-c="#418BCA" data-hc="#418BCA" data-size="18" data-loop="true"></i>
            <span class="title">Gallery</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/gallery">
                    <i class="fa fa-angle-double-right"></i>
                    Gallery
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/masonry_gallery">
                    <i class="fa fa-angle-double-right"></i>
                    Masonry Gallery
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/imagecropping">
                    <i class="fa fa-angle-double-right"></i>
                    Image Cropping
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/imgmagnifier">
                    <i class="fa fa-angle-double-right"></i>
                    Image Magnifier
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="user" data-size="18" data-c="#6CC66C" data-hc="#6CC66C" data-loop="true"></i>
            <span class="title">Users</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/users">
                    <i class="fa fa-angle-double-right"></i>
                    Users
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/users/create">
                    <i class="fa fa-angle-double-right"></i>
                    Add New User
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/users/1">
                    <i class="fa fa-angle-double-right"></i>
                    View Profile
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/deleted_users">
                    <i class="fa fa-angle-double-right"></i>
                    Deleted Users
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="users" data-size="18" data-c="#418BCA" data-hc="#418BCA" data-loop="true"></i>
            <span class="title">Roles</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/roles">
                    <i class="fa fa-angle-double-right"></i>
                    Roles List
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/roles/create">
                    <i class="fa fa-angle-double-right"></i>
                    Add New Role
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="map" data-c="#67C5DF" data-hc="#67C5DF" data-size="18" data-loop="true"></i>
            <span class="title">Maps</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/googlemaps">
                    <i class="fa fa-angle-double-right"></i>
                    Google Maps
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/vectormaps">
                    <i class="fa fa-angle-double-right"></i>
                    Vector Maps
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/advancedmaps">
                    <i class="fa fa-angle-double-right"></i>
                    Advanced Maps
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="comment" data-c="#F89A14" data-hc="#F89A14" data-size="18" data-loop="true"></i>
            <span class="title">Blog</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/blogcategory">
                    <i class="fa fa-angle-double-right"></i>
                    Blog Category List
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/blog">
                    <i class="fa fa-angle-double-right"></i>
                    Blog List
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/blog/create">
                    <i class="fa fa-angle-double-right"></i>
                    Add New Blog
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="#">
            <i class="livicon" data-name="move" data-c="#ef6f6c" data-hc="#ef6f6c" data-size="18" data-loop="true"></i>
            <span class="title">News</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/news">
                    <i class="fa fa-angle-double-right"></i>
                    News
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/news_item">
                    <i class="fa fa-angle-double-right"></i>
                    News Details
                </a>
            </li>
        </ul>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/minisidebar">
            <i class="livicon" data-name="list-ul" data-size="18" data-c="#F89A14" data-hc="#F89A14" data-loop="true"></i>
            Mini Sidebar
        </a>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/fixedmenu">
            <i class="livicon" data-name="list-ul" data-size="18" data-c="#1DA1F2" data-hc="#1DA1F2" data-loop="true"></i>
            Fixed Menu and Header
        </a>
    </li>
    <li >
        <a href="http://demo.joshadmin.com/admin/horizontal_layout">
            <i class="livicon" data-name="list-ul" data-size="18" data-c="#1DA1F2" data-hc="#1DA1F2" data-loop="true"></i>
            Horizontal Layout
        </a>
    </li>
    <li class="active">
        <a href="#">
            <i class="livicon" data-name="flag" data-c="#418bca" data-hc="#418bca" data-size="18" data-loop="true"></i>
            <span class="title">Pages</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="http://demo.joshadmin.com/admin/1/lockscreen">
                    <i class="fa fa-angle-double-right"></i>
                    Lockscreen
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/invoice">
                    <i class="fa fa-angle-double-right"></i>
                    Invoice
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/login">
                    <i class="fa fa-angle-double-right"></i>
                    Login
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/login2">
                    <i class="fa fa-angle-double-right"></i>
                    Login 2
                </a>
            </li>
            <li>
                <a href="http://demo.joshadmin.com/admin/login#toregister">
                    <i class="fa fa-angle-double-right"></i>
                    Register
                </a>
            </li>
            <li>
                <a href="http://demo.joshadmin.com/admin/register2">
                    <i class="fa fa-angle-double-right"></i>
                    Register2
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/404">
                    <i class="fa fa-angle-double-right"></i>
                    404 Error
                </a>
            </li>
            <li >
                <a href="http://demo.joshadmin.com/admin/500">
                    <i class="fa fa-angle-double-right"></i>
                    500 Error
                </a>
            </li>
            <li class="active">
                <a href="http://demo.joshadmin.com/admin/blank">
                    <i class="fa fa-angle-double-right"></i>
                    Blank Page
                </a>
            </li>
        </ul>
    </li>
    <!-- Menus generated by CRUD generator -->
    </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </section>
    </aside>
    <aside class="right-side">

        <!-- Notifications -->
        <div id="notific">
                </div>

                <!-- Content -->
        
<section class="content-header">
                <h1>Blank page</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="http://demo.joshadmin.com/admin">
                            <i class="livicon" data-name="home" data-size="14" data-color="#000"></i>
                            Dashboard
                        </a>
                    </li>
                    <li><a href="#"> Pages</a></li>
                    <li class="active">Blank page</li>
                </ol>
            </section>
            <section class="content">
            </section>


    
    </aside>
    <!-- right-side -->
</div>
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Return to top"
   data-toggle="tooltip" data-placement="left">
    <i class="livicon" data-name="plane-up" data-size="18" data-loop="true" data-c="#fff" data-hc="white"></i>
</a>