{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce {% endblock %}

{% block body %}
<section style="padding-top: 40px;">
    <div class="container">
        <h1>modifier l'annonce {{ ad.titre }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}



        <button type="submit" class="btn btn-primary">Modifier l annonce</button>

        {{ form_end(form) }}
    </div></section>
{% endblock %}